# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*share/python-wheels/
*.egg-log/

# Virtual Environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE & Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 可以加上你的資料庫帳密檔案，如果有的話
# config.py